


/*Nombre:Aramis Montero Montero Matricula:16EIIT1036 Seccion:0541*/



USE [master]
GO
/****** Object:  Database [RodriguezExpress]    Script Date: 19/11/2018 11:57:26 ******/
CREATE DATABASE [RodriguezExpress]

USE [RodriguezExpress]
GO
/****** Object:  Table [dbo].[ClienteId]    Script Date: 19/11/2018 11:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClienteId](
	[ClienteId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Cedula] [varchar](11) NULL,
	[LocalId] [int] NULL,
	[FechaNacimiento] [datetime] NULL,
	[Sexo] [char](1) NULL,
	[Direccion] [varchar](250) NULL,
	[Telefono] [varchar](13) NULL,
 CONSTRAINT [PK_ClienteId] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EncargadoId]    Script Date: 19/11/2018 11:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EncargadoId](
	[EncargadoId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Direccion] [varchar](250) NULL,
	[Sexo] [char](1) NULL,
	[Telefono] [varchar](13) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_EncargadoId] PRIMARY KEY CLUSTERED 
(
	[EncargadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MercanciasId]    Script Date: 19/11/2018 11:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MercanciasId](
	[MercanciasId] [int] NOT NULL,
	[Nombres] [varchar](50) NULL,
	[localId] [int] NULL,
	[EncargadoId] [int] NULL,
 CONSTRAINT [PK_MercanciasId] PRIMARY KEY CLUSTERED 
(
	[MercanciasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PrecioId]    Script Date: 19/11/2018 11:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrecioId](
	[PrecioId] [int] NOT NULL,
	[MercanciasId] [int] NULL,
	[ClienteId] [int] NULL,
	[EncargadoId] [int] NULL,
	[Precio1] [float] NULL,
	[Precio2] [float] NULL,
	[Precio3] [float] NULL,
	[CargoEnvio] [int] NULL,
 CONSTRAINT [PK_PrecioId] PRIMARY KEY CLUSTERED 
(
	[PrecioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RodriguezExpress]    Script Date: 19/11/2018 11:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RodriguezExpress](
	[LocalId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Horario] [varchar](20) NULL,
 CONSTRAINT [PK_RodriguezExpress] PRIMARY KEY CLUSTERED 
(
	[LocalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ClienteId] ([ClienteId], [Nombre], [Cedula], [LocalId], [FechaNacimiento], [Sexo], [Direccion], [Telefono]) VALUES (1, N'Lucy Montero', N'09300897244', 1, CAST(0x0000834800000000 AS DateTime), N'F', N'Piedra blanca de Haina calle mendoza numero 7', N'8092532236')
INSERT [dbo].[ClienteId] ([ClienteId], [Nombre], [Cedula], [LocalId], [FechaNacimiento], [Sexo], [Direccion], [Telefono]) VALUES (2, N'Cristian Arias ', N'09371713454', 1, CAST(0x000084D000000000 AS DateTime), N'M', N'Calle el eden numero 7 herrera ', N'8296758400')
INSERT [dbo].[ClienteId] ([ClienteId], [Nombre], [Cedula], [LocalId], [FechaNacimiento], [Sexo], [Direccion], [Telefono]) VALUES (3, N'Eduardo Rubio', N'20598007685', 1, CAST(0x0000806800000000 AS DateTime), N'M', N'Sancristobal calle central numero 2', N'8097672229')
INSERT [dbo].[EncargadoId] ([EncargadoId], [Nombre], [Direccion], [Sexo], [Telefono], [Email]) VALUES (1, N'Enrique Rodriguez ', N'Calle circumbalacion caribe haina numero 4', N'M', N'8094943240', N'adoni2407@gmail.com')
INSERT [dbo].[EncargadoId] ([EncargadoId], [Nombre], [Direccion], [Sexo], [Telefono], [Email]) VALUES (2, N'Bryan Martinez ', N'Av.independencia Km 7 calle el rosal  numero 2', N'M', N'8295858806', N'aramis2407@gmail.com')
INSERT [dbo].[EncargadoId] ([EncargadoId], [Nombre], [Direccion], [Sexo], [Telefono], [Email]) VALUES (3, N'Juan Alcantara', N'los mamalle calle cristal ', N'M', N'8097765433', N'juan123@gmail.com')
INSERT [dbo].[MercanciasId] ([MercanciasId], [Nombres], [localId], [EncargadoId]) VALUES (1, N'Electrodomesticos', 1, 1)
INSERT [dbo].[MercanciasId] ([MercanciasId], [Nombres], [localId], [EncargadoId]) VALUES (2, N'Ferreteria', 1, 2)
INSERT [dbo].[MercanciasId] ([MercanciasId], [Nombres], [localId], [EncargadoId]) VALUES (3, N'Textil', 1, 4)
INSERT [dbo].[PrecioId] ([PrecioId], [MercanciasId], [ClienteId], [EncargadoId], [Precio1], [Precio2], [Precio3], [CargoEnvio]) VALUES (1, 1, 1, 1, 550, 700, 1000, 250)
INSERT [dbo].[PrecioId] ([PrecioId], [MercanciasId], [ClienteId], [EncargadoId], [Precio1], [Precio2], [Precio3], [CargoEnvio]) VALUES (2, 2, 2, 2, 550, 750, 1050, 300)
INSERT [dbo].[PrecioId] ([PrecioId], [MercanciasId], [ClienteId], [EncargadoId], [Precio1], [Precio2], [Precio3], [CargoEnvio]) VALUES (3, 3, 8, 4, 550, 700, 1000, 250)
INSERT [dbo].[RodriguezExpress] ([LocalId], [Nombre], [Horario]) VALUES (1, N'Av.independencia Km 12 ', N'8:00 am a 5:00 pm')
ALTER TABLE [dbo].[ClienteId]  WITH CHECK ADD  CONSTRAINT [FK_ClienteId_RodriguezExpress] FOREIGN KEY([LocalId])
REFERENCES [dbo].[RodriguezExpress] ([LocalId])
GO
ALTER TABLE [dbo].[ClienteId] CHECK CONSTRAINT [FK_ClienteId_RodriguezExpress]
GO
ALTER TABLE [dbo].[MercanciasId]  WITH CHECK ADD  CONSTRAINT [FK_MercanciasId_EncargadoId] FOREIGN KEY([EncargadoId])
REFERENCES [dbo].[EncargadoId] ([EncargadoId])
GO
ALTER TABLE [dbo].[MercanciasId] CHECK CONSTRAINT [FK_MercanciasId_EncargadoId]
GO
ALTER TABLE [dbo].[MercanciasId]  WITH CHECK ADD  CONSTRAINT [FK_MercanciasId_RodriguezExpress] FOREIGN KEY([localId])
REFERENCES [dbo].[RodriguezExpress] ([LocalId])
GO
ALTER TABLE [dbo].[MercanciasId] CHECK CONSTRAINT [FK_MercanciasId_RodriguezExpress]
GO
ALTER TABLE [dbo].[PrecioId]  WITH CHECK ADD  CONSTRAINT [FK_PrecioId_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[ClienteId] ([ClienteId])
GO
ALTER TABLE [dbo].[PrecioId] CHECK CONSTRAINT [FK_PrecioId_ClienteId]
GO
ALTER TABLE [dbo].[PrecioId]  WITH CHECK ADD  CONSTRAINT [FK_PrecioId_EncargadoId] FOREIGN KEY([EncargadoId])
REFERENCES [dbo].[EncargadoId] ([EncargadoId])
GO
ALTER TABLE [dbo].[PrecioId] CHECK CONSTRAINT [FK_PrecioId_EncargadoId]
GO
ALTER TABLE [dbo].[PrecioId]  WITH CHECK ADD  CONSTRAINT [FK_PrecioId_MercanciasId] FOREIGN KEY([MercanciasId])
REFERENCES [dbo].[MercanciasId] ([MercanciasId])
GO
ALTER TABLE [dbo].[PrecioId] CHECK CONSTRAINT [FK_PrecioId_MercanciasId]
GO
USE [master]
GO
